In [19]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/Opensourcefordatascience/Data-sets/master/difficile.csv")
data

    person  dose  libido
0        1     1       3
1        2     1       2
2        3     1       1
3        4     1       1
4        5     1       4
5        6     2       5
6        7     2       2
7        8     2       4
8        9     2       2
9       10     2       3
10      11     3       7
11      12     3       4
12      13     3       5
13      14     3       3
14      15     3       6

In [29]:
names = data['person']
print(names)

KeyError: 'person'

In [20]:
# Importing libraries now

import pandas as pd
import numpy as np
import scipy
import scipy.stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as ols
import math


# Dropping the cloumn person
data.drop('person', axis = 1, inplace = True)
data

    dose  libido
0      1       3
1      1       2
2      1       1
3      1       1
4      1       4
5      2       5
6      2       2
7      2       4
8      2       2
9      2       3
10     3       7
11     3       4
12     3       5
13     3       3
14     3       6

In [21]:
# Recoding value from numeric to string

data['dose'].replace({1: 'Placebo', 2: 'Low', 3: 'high'}, inplace = True)
data

       dose  libido
0   Placebo       3
1   Placebo       2
2   Placebo       1
3   Placebo       1
4   Placebo       4
5       Low       5
6       Low       2
7       Low       4
8       Low       2
9       Low       3
10     high       7
11     high       4
12     high       5
13     high       3
14     high       6

In [22]:
# Gettin summary statistics

import pandas as pd
import scipy.stats as stats
import researchpy as rp
import statsmodels.api as sm
from statsmodels.formula.api import ols
    
import matplotlib.pyplot as plt

rp.summary_cont(data['libido'])

  Variable     N      Mean       SD        SE  95% Conf.  Interval
0   libido  15.0  3.466667  1.76743  0.456349   2.487896  4.445437

In [23]:
pip install researchpy

Requirement already satisfied: researchpy in c:\users\pushp\anaconda3\lib\site-packages (0.1.9)
Requirement already satisfied: numpy in c:\users\pushp\anaconda3\lib\site-packages (from researchpy) (1.18.1)
Requirement already satisfied: statsmodels in c:\users\pushp\anaconda3\lib\site-packages (from researchpy) (0.11.0)
Requirement already satisfied: pandas in c:\users\pushp\anaconda3\lib\site-packages (from researchpy) (1.0.1)
Requirement already satisfied: scipy in c:\users\pushp\anaconda3\lib\site-packages (from researchpy) (1.4.1)
Requirement already satisfied: patsy>=0.5 in c:\users\pushp\anaconda3\lib\site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\pushp\anaconda3\lib\site-packages (from pandas->researchpy) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\pushp\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: six in c:\users\pushp\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels->researchpy) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [24]:
## That’s good to see the data as a whole, but we are really interested in the data by dosing.

import researchpy as rp
rp.summary_cont(data['libido'].groupby(data['dose']))

         N  Mean        SD        SE  95% Conf.  Interval
dose
Low      5   3.2  1.303840  0.583095   1.922236  4.477764
Placebo  5   2.2  1.303840  0.583095   0.922236  3.477764
high     5   5.0  1.581139  0.707107   3.450484  6.549516

There are a few ways this can be done with Python. One is with the stats.f_oneway() method which is apart of the scipy.stats library, and the other is using statsmodels.

In [ ]:
list1 = data[]