In [2]:
## Creating the dataframe 

import pandas as pd

columns = ['name', 'sex', 'age']

user1 = pd.DataFrame([['Kush', 'Male', '22'], ['Luv', 'Male', '21']], columns = columns)
print(user1)

user2 = pd.DataFrame([['Honey', 'Male', '25'], ['Logan', 'Male', '25']], columns = columns)
print('\n', user2)

user3 = user1 + user2    # Using this adds values beside each other
print(user3)

   name   sex age
0  Kush  Male  22
1   Luv  Male  21

     name   sex age
0  Honey  Male  25
1  Logan  Male  25
        name       sex   age
0  KushHoney  MaleMale  2225
1   LuvLogan  MaleMale  2125

In [3]:
user4 = pd.DataFrame(dict(name = ['Luv', 'Kush'],
                         age = ['11', '12'],
                         job = ['Doc', 'Engg.'],
                         sex = ['male', 'female']))
user4

   name age    job     sex
0   Luv  11    Doc    male
1  Kush  12  Engg.  female

In [4]:
## Appending dataframes

user5 = user1.append(user2)
user5

    name   sex age
0   Kush  Male  22
1    Luv  Male  21
0  Honey  Male  25
1  Logan  Male  25

In [5]:
user5.append(user4)

    name     sex age    job
0   Kush    Male  22    NaN
1    Luv    Male  21    NaN
0  Honey    Male  25    NaN
1  Logan    Male  25    NaN
0    Luv    male  11    Doc
1   Kush  female  12  Engg.

In [6]:
## All dataframes can be concatenated in single command

user6 = pd.concat([user1, user2, user4, user5])
user6

    name     sex age    job
0   Kush    Male  22    NaN
1    Luv    Male  21    NaN
0  Honey    Male  25    NaN
1  Logan    Male  25    NaN
0    Luv    male  11    Doc
1   Kush  female  12  Engg.
0   Kush    Male  22    NaN
1    Luv    Male  21    NaN
0  Honey    Male  25    NaN
1  Logan    Male  25    NaN

In [7]:
## Merging two dataframes

output = pd.merge(user1, user2, on = 'name')
output

Empty DataFrame
Columns: [name, sex_x, age_x, sex_y, age_y]
Index: []

Reshaping by pivoting
“Unpivots” a DataFrame from wide format to long (stacked) format

In [8]:
data = pd.read_csv("E:/Data Science/CSV dataset/Small Datasets/GDP_CAT.csv")
data

,Year,GDP,Domestic demand,Consumer expenditure household,Consumer public adm,Gross capital,Equip. Goods others,Const.,Ext. Balance,Foreign balance,Total exports goods and services,Exports goods and services,Foreign consump. Territory,Total imports goods and services,Imports goods and services,National residents consump. Abroad
0,2016,223629,196616,121449,34998,40169,24940,14443,27012,12901,84668,73532,11136,71767,68813,2954
1,2015,215641,189911,118176,34032,37703,23721,13508,25730,12650,81910,71181,10729,69261,66720,2540
2,2014,208018,181616,114235,32069,35311,22150,12848,26402,11035,77583,66933,10650,66549,64160,2388
3,2013,203198,177662,111596,32077,33989,20939,13129,25536,12940,75112,64757,10355,62172,59867,2305
4,2012,203856,183829,114317,32760,36752,21564,14834,20027,10207,73578,63932,9645,63371,61127,2244
5,2011,209716,191118,115228,34854,41036,22148,18659,18598,5046,69556,60526,9030,64510,62467,2043
6,2010,209792,194712,113859,35569,45284,23060,21820,15080,1193,62441,53938,8503,61248,59063,2185
7,2009,208115,195915,111997,35451,48468,22284,25123,12200,1088,55052,46979,8073,53964,51910,2054
8,2008,216922,209685,117445,32709,59531,25736,32901,7237,-6303,65416,56704,8712,71719,69169,2550
9,2007,212391,205664,114653,29674,61338,25658,34499,6726,-10972,64427,55734,8693,75399,72723,2676
10,2006,199169,190410,107097,26821,56492,22621,32668,8759,-9936,60811,52405,8407,70747,68286,2461
11,2005,183507,173189,99316,24441,49433,20041,28678,10318,-9486,55214,47192,8023,64700,62449,2251
12,2004,169776,158942,91997,22367,44578,18015,25326,10835,-7911,50971,43430,7541,58883,57050,1833
13,2003,156600,145578,84675,20262,40640,16702,22773,11022,-4473,48795,41735,7060,53268,51702,1566
14,2002,145813,135065,79584,18575,36906,15388,20361,10748,-2923,48685,41665,7020,51608,50189,1419
15,2001,137165,126110,74692,17131,34287,14924,18356,11055,-3595,47344,40743,6601,50940,49446,1494
16,2000,127839,117567,69916,15832,31820,14372,16329,10271,-5874,43650,37382,6268,49523,48228,1295

In [9]:
stacked = pd.melt(data.reset_index(), id_vars = 'GDP', value_vars = ('Domestic demand','Gross capital'), value_name = 'Values')
stacked

       GDP         variable  Values
0   223629  Domestic demand  196616
1   215641  Domestic demand  189911
2   208018  Domestic demand  181616
3   203198  Domestic demand  177662
4   203856  Domestic demand  183829
5   209716  Domestic demand  191118
6   209792  Domestic demand  194712
7   208115  Domestic demand  195915
8   216922  Domestic demand  209685
9   212391  Domestic demand  205664
10  199169  Domestic demand  190410
11  183507  Domestic demand  173189
12  169776  Domestic demand  158942
13  156600  Domestic demand  145578
14  145813  Domestic demand  135065
15  137165  Domestic demand  126110
16  127839  Domestic demand  117567
17  223629    Gross capital   40169
18  215641    Gross capital   37703
19  208018    Gross capital   35311
20  203198    Gross capital   33989
21  203856    Gross capital   36752
22  209716    Gross capital   41036
23  209792    Gross capital   45284
24  208115    Gross capital   48468
25  216922    Gross capital   59531
26  212391    Gross capital   61338
27  199169    Gross capital   56492
28  183507    Gross capital   49433
29  169776    Gross capital   44578
30  156600    Gross capital   40640
31  145813    Gross capital   36906
32  137165    Gross capital   34287
33  127839    Gross capital   31820

“pivots” converts a DataFrame from long (stacked) format to wide format,

In [10]:
data.index                # "the index" (aka "the labels")

RangeIndex(start=0, stop=17, step=1)

In [11]:
data.columns              # column names (which is "an index")

Index(['Year', 'GDP', 'Domestic demand', 'Consumer expenditure household',
       'Consumer public adm', 'Gross capital', 'Equip. Goods others', 'Const.',
       'Ext. Balance ', 'Foreign balance ', 'Total exports goods and services',
       'Exports goods and services', 'Foreign consump. Territory',
       'Total imports goods and services', 'Imports goods and services',
       'National residents consump. Abroad'],
      dtype='object')

In [12]:
data.dtypes               # data types of each column

Year                                  int64
GDP                                   int64
Domestic demand                       int64
Consumer expenditure household        int64
Consumer public adm                   int64
Gross capital                         int64
Equip. Goods others                   int64
Const.                                int64
Ext. Balance                          int64
Foreign balance                       int64
Total exports goods and services      int64
Exports goods and services            int64
Foreign consump. Territory            int64
Total imports goods and services      int64
Imports goods and services            int64
National residents consump. Abroad    int64
dtype: object

In [13]:
data.values              # underlying numpy array

array([[  2016, 223629, 196616, 121449,  34998,  40169,  24940,  14443,
         27012,  12901,  84668,  73532,  11136,  71767,  68813,   2954],
       [  2015, 215641, 189911, 118176,  34032,  37703,  23721,  13508,
         25730,  12650,  81910,  71181,  10729,  69261,  66720,   2540],
       [  2014, 208018, 181616, 114235,  32069,  35311,  22150,  12848,
         26402,  11035,  77583,  66933,  10650,  66549,  64160,   2388],
       [  2013, 203198, 177662, 111596,  32077,  33989,  20939,  13129,
         25536,  12940,  75112,  64757,  10355,  62172,  59867,   2305],
       [  2012, 203856, 183829, 114317,  32760,  36752,  21564,  14834,
         20027,  10207,  73578,  63932,   9645,  63371,  61127,   2244],
       [  2011, 209716, 191118, 115228,  34854,  41036,  22148,  18659,
         18598,   5046,  69556,  60526,   9030,  64510,  62467,   2043],
       [  2010, 209792, 194712, 113859,  35569,  45284,  23060,  21820,
         15080,   1193,  62441,  53938,   8503,  61248,  59063,   2185],
       [  2009, 208115, 195915, 111997,  35451,  48468,  22284,  25123,
         12200,   1088,  55052,  46979,   8073,  53964,  51910,   2054],
       [  2008, 216922, 209685, 117445,  32709,  59531,  25736,  32901,
          7237,  -6303,  65416,  56704,   8712,  71719,  69169,   2550],
       [  2007, 212391, 205664, 114653,  29674,  61338,  25658,  34499,
          6726, -10972,  64427,  55734,   8693,  75399,  72723,   2676],
       [  2006, 199169, 190410, 107097,  26821,  56492,  22621,  32668,
          8759,  -9936,  60811,  52405,   8407,  70747,  68286,   2461],
       [  2005, 183507, 173189,  99316,  24441,  49433,  20041,  28678,
         10318,  -9486,  55214,  47192,   8023,  64700,  62449,   2251],
       [  2004, 169776, 158942,  91997,  22367,  44578,  18015,  25326,
         10835,  -7911,  50971,  43430,   7541,  58883,  57050,   1833],
       [  2003, 156600, 145578,  84675,  20262,  40640,  16702,  22773,
         11022,  -4473,  48795,  41735,   7060,  53268,  51702,   1566],
       [  2002, 145813, 135065,  79584,  18575,  36906,  15388,  20361,
         10748,  -2923,  48685,  41665,   7020,  51608,  50189,   1419],
       [  2001, 137165, 126110,  74692,  17131,  34287,  14924,  18356,
         11055,  -3595,  47344,  40743,   6601,  50940,  49446,   1494],
       [  2000, 127839, 117567,  69916,  15832,  31820,  14372,  16329,
         10271,  -5874,  43650,  37382,   6268,  49523,  48228,   1295]],
      dtype=int64)

In [14]:
col = ['Domestic demand', 'Gross capital', 'Foreign balance ']             # Saving column names as list 
print(data[col])

    Domestic demand  Gross capital  Foreign balance
0            196616          40169             12901
1            189911          37703             12650
2            181616          35311             11035
3            177662          33989             12940
4            183829          36752             10207
5            191118          41036              5046
6            194712          45284              1193
7            195915          48468              1088
8            209685          59531             -6303
9            205664          61338            -10972
10           190410          56492             -9936
11           173189          49433             -9486
12           158942          44578             -7911
13           145578          40640             -4473
14           135065          36906             -2923
15           126110          34287             -3595
16           117567          31820             -5874

In [15]:
data[['Domestic demand', 'Gross capital', 'Foreign balance ']]

    Domestic demand  Gross capital  Foreign balance
0            196616          40169             12901
1            189911          37703             12650
2            181616          35311             11035
3            177662          33989             12940
4            183829          36752             10207
5            191118          41036              5046
6            194712          45284              1193
7            195915          48468              1088
8            209685          59531             -6303
9            205664          61338            -10972
10           190410          56492             -9936
11           173189          49433             -9486
12           158942          44578             -7911
13           145578          40640             -4473
14           135065          36906             -2923
15           126110          34287             -3595
16           117567          31820             -5874

In [16]:
## Using the iloc function in for loop

for i in range(data.shape[0]):
    print(data.iloc[:, i])

0     2016
1     2015
2     2014
3     2013
4     2012
5     2011
6     2010
7     2009
8     2008
9     2007
10    2006
11    2005
12    2004
13    2003
14    2002
15    2001
16    2000
Name: Year, dtype: int64
0     223629
1     215641
2     208018
3     203198
4     203856
5     209716
6     209792
7     208115
8     216922
9     212391
10    199169
11    183507
12    169776
13    156600
14    145813
15    137165
16    127839
Name: GDP, dtype: int64
0     196616
1     189911
2     181616
3     177662
4     183829
5     191118
6     194712
7     195915
8     209685
9     205664
10    190410
11    173189
12    158942
13    145578
14    135065
15    126110
16    117567
Name: Domestic demand, dtype: int64
0     121449
1     118176
2     114235
3     111596
4     114317
5     115228
6     113859
7     111997
8     117445
9     114653
10    107097
11     99316
12     91997
13     84675
14     79584
15     74692
16     69916
Name: Consumer expenditure household, dtype: int64
0     34998
1     34032
2     32069
3     32077
4     32760
5     34854
6     35569
7     35451
8     32709
9     29674
10    26821
11    24441
12    22367
13    20262
14    18575
15    17131
16    15832
Name: Consumer public adm, dtype: int64
0     40169
1     37703
2     35311
3     33989
4     36752
5     41036
6     45284
7     48468
8     59531
9     61338
10    56492
11    49433
12    44578
13    40640
14    36906
15    34287
16    31820
Name: Gross capital, dtype: int64
0     24940
1     23721
2     22150
3     20939
4     21564
5     22148
6     23060
7     22284
8     25736
9     25658
10    22621
11    20041
12    18015
13    16702
14    15388
15    14924
16    14372
Name: Equip. Goods others, dtype: int64
0     14443
1     13508
2     12848
3     13129
4     14834
5     18659
6     21820
7     25123
8     32901
9     34499
10    32668
11    28678
12    25326
13    22773
14    20361
15    18356
16    16329
Name: Const., dtype: int64
0     27012
1     25730
2     26402
3     25536
4     20027
5     18598
6     15080
7     12200
8      7237
9      6726
10     8759
11    10318
12    10835
13    11022
14    10748
15    11055
16    10271
Name: Ext. Balance , dtype: int64
0     12901
1     12650
2     11035
3     12940
4     10207
5      5046
6      1193
7      1088
8     -6303
9    -10972
10    -9936
11    -9486
12    -7911
13    -4473
14    -2923
15    -3595
16    -5874
Name: Foreign balance , dtype: int64
0     84668
1     81910
2     77583
3     75112
4     73578
5     69556
6     62441
7     55052
8     65416
9     64427
10    60811
11    55214
12    50971
13    48795
14    48685
15    47344
16    43650
Name: Total exports goods and services, dtype: int64
0     73532
1     71181
2     66933
3     64757
4     63932
5     60526
6     53938
7     46979
8     56704
9     55734
10    52405
11    47192
12    43430
13    41735
14    41665
15    40743
16    37382
Name: Exports goods and services, dtype: int64
0     11136
1     10729
2     10650
3     10355
4      9645
5      9030
6      8503
7      8073
8      8712
9      8693
10     8407
11     8023
12     7541
13     7060
14     7020
15     6601
16     6268
Name: Foreign consump. Territory, dtype: int64
0     71767
1     69261
2     66549
3     62172
4     63371
5     64510
6     61248
7     53964
8     71719
9     75399
10    70747
11    64700
12    58883
13    53268
14    51608
15    50940
16    49523
Name: Total imports goods and services, dtype: int64
0     68813
1     66720
2     64160
3     59867
4     61127
5     62467
6     59063
7     51910
8     69169
9     72723
10    68286
11    62449
12    57050
13    51702
14    50189
15    49446
16    48228
Name: Imports goods and services, dtype: int64
0     2954
1     2540
2     2388
3     2305
4     2244
5     2043
6     2185
7     2054
8     2550
9     2676
10    2461
11    2251
12    1833
13    1566
14    1419
15    1494
16    1295
Name: National residents consump. Abroad, dtype: int64

IndexError: single positional indexer is out-of-bounds

In [ ]:
## Using the iloc function in for loop

data_new = data.head(2)
for i in range(data_new.shape[0]):
    row = data_new.iloc[i]
    row.GDP /= 10
print(data_new['GDP'])

In [ ]:
df = data.copy()
df.loc[12, 'GDP']          ## Prints 12th row element of GDP column

In [ ]:
df.loc[12,: ]

In [ ]:
data[['GDP', 'Domestic demand']]

In [ ]:
## Values can be assigned to a list and then use

list1 = ['GDP', 'Domestic demand']
print(data[list1])

In [ ]:
type(data[list1])

Rows selection (Filtering)

In [ ]:
# simple logical filtering

data[data['GDP'] > 208115]

In [ ]:
young_bool = data['Consumer public adm'] > 35000     # creating a Series of booleans...
young = data[young_bool]
print(young)

In [ ]:
data[data['GDP'] > 200000][['Domestic demand', 'Gross capital'] ]   ## Filtering the columns and selecting one column to print

Sorting the entries

In [20]:
data.columns

Index(['Year', 'GDP', 'Domestic demand', 'Consumer expenditure household',
       'Consumer public adm', 'Gross capital', 'Equip. Goods others', 'Const.',
       'Ext. Balance ', 'Foreign balance ', 'Total exports goods and services',
       'Exports goods and services', 'Foreign consump. Territory',
       'Total imports goods and services', 'Imports goods and services',
       'National residents consump. Abroad'],
      dtype='object')

In [17]:
data.GDP.sort_values()

16    127839
15    137165
14    145813
13    156600
12    169776
11    183507
10    199169
3     203198
4     203856
2     208018
7     208115
5     209716
6     209792
9     212391
1     215641
8     216922
0     223629
Name: GDP, dtype: int64

In [19]:
data.GDP.sort_values(ascending = True)        ## Sort the list in ascending order

16    127839
15    137165
14    145813
13    156600
12    169776
11    183507
10    199169
3     203198
4     203856
2     208018
7     208115
5     209716
6     209792
9     212391
1     215641
8     216922
0     223629
Name: GDP, dtype: int64

In [21]:
data.sort_values(by = 'Const.', ascending = False)

,Year,GDP,Domestic demand,Consumer expenditure household,Consumer public adm,Gross capital,Equip. Goods others,Const.,Ext. Balance,Foreign balance,Total exports goods and services,Exports goods and services,Foreign consump. Territory,Total imports goods and services,Imports goods and services,National residents consump. Abroad
9,2007,212391,205664,114653,29674,61338,25658,34499,6726,-10972,64427,55734,8693,75399,72723,2676
8,2008,216922,209685,117445,32709,59531,25736,32901,7237,-6303,65416,56704,8712,71719,69169,2550
10,2006,199169,190410,107097,26821,56492,22621,32668,8759,-9936,60811,52405,8407,70747,68286,2461
11,2005,183507,173189,99316,24441,49433,20041,28678,10318,-9486,55214,47192,8023,64700,62449,2251
12,2004,169776,158942,91997,22367,44578,18015,25326,10835,-7911,50971,43430,7541,58883,57050,1833
7,2009,208115,195915,111997,35451,48468,22284,25123,12200,1088,55052,46979,8073,53964,51910,2054
13,2003,156600,145578,84675,20262,40640,16702,22773,11022,-4473,48795,41735,7060,53268,51702,1566
6,2010,209792,194712,113859,35569,45284,23060,21820,15080,1193,62441,53938,8503,61248,59063,2185
14,2002,145813,135065,79584,18575,36906,15388,20361,10748,-2923,48685,41665,7020,51608,50189,1419
5,2011,209716,191118,115228,34854,41036,22148,18659,18598,5046,69556,60526,9030,64510,62467,2043
15,2001,137165,126110,74692,17131,34287,14924,18356,11055,-3595,47344,40743,6601,50940,49446,1494
16,2000,127839,117567,69916,15832,31820,14372,16329,10271,-5874,43650,37382,6268,49523,48228,1295
4,2012,203856,183829,114317,32760,36752,21564,14834,20027,10207,73578,63932,9645,63371,61127,2244
0,2016,223629,196616,121449,34998,40169,24940,14443,27012,12901,84668,73532,11136,71767,68813,2954
1,2015,215641,189911,118176,34032,37703,23721,13508,25730,12650,81910,71181,10729,69261,66720,2540
3,2013,203198,177662,111596,32077,33989,20939,13129,25536,12940,75112,64757,10355,62172,59867,2305
2,2014,208018,181616,114235,32069,35311,22150,12848,26402,11035,77583,66933,10650,66549,64160,2388

In [22]:
data.sort_values(by = ['GDP', 'Imports goods and services', 'Consumer expenditure household'])    #selecting mulyiple columns

,Year,GDP,Domestic demand,Consumer expenditure household,Consumer public adm,Gross capital,Equip. Goods others,Const.,Ext. Balance,Foreign balance,Total exports goods and services,Exports goods and services,Foreign consump. Territory,Total imports goods and services,Imports goods and services,National residents consump. Abroad
16,2000,127839,117567,69916,15832,31820,14372,16329,10271,-5874,43650,37382,6268,49523,48228,1295
15,2001,137165,126110,74692,17131,34287,14924,18356,11055,-3595,47344,40743,6601,50940,49446,1494
14,2002,145813,135065,79584,18575,36906,15388,20361,10748,-2923,48685,41665,7020,51608,50189,1419
13,2003,156600,145578,84675,20262,40640,16702,22773,11022,-4473,48795,41735,7060,53268,51702,1566
12,2004,169776,158942,91997,22367,44578,18015,25326,10835,-7911,50971,43430,7541,58883,57050,1833
11,2005,183507,173189,99316,24441,49433,20041,28678,10318,-9486,55214,47192,8023,64700,62449,2251
10,2006,199169,190410,107097,26821,56492,22621,32668,8759,-9936,60811,52405,8407,70747,68286,2461
3,2013,203198,177662,111596,32077,33989,20939,13129,25536,12940,75112,64757,10355,62172,59867,2305
4,2012,203856,183829,114317,32760,36752,21564,14834,20027,10207,73578,63932,9645,63371,61127,2244
2,2014,208018,181616,114235,32069,35311,22150,12848,26402,11035,77583,66933,10650,66549,64160,2388
7,2009,208115,195915,111997,35451,48468,22284,25123,12200,1088,55052,46979,8073,53964,51910,2054
5,2011,209716,191118,115228,34854,41036,22148,18659,18598,5046,69556,60526,9030,64510,62467,2043
6,2010,209792,194712,113859,35569,45284,23060,21820,15080,1193,62441,53938,8503,61248,59063,2185
9,2007,212391,205664,114653,29674,61338,25658,34499,6726,-10972,64427,55734,8693,75399,72723,2676
1,2015,215641,189911,118176,34032,37703,23721,13508,25730,12650,81910,71181,10729,69261,66720,2540
8,2008,216922,209685,117445,32709,59531,25736,32901,7237,-6303,65416,56704,8712,71719,69169,2550
0,2016,223629,196616,121449,34998,40169,24940,14443,27012,12901,84668,73532,11136,71767,68813,2954

In [27]:
# Inplace = Ture modifies the dataframe

data.sort_values(by = ['Exports goods and services', 'Exports goods and services'], inplace = True)
data

,Year,GDP,Domestic demand,Consumer expenditure household,Consumer public adm,Gross capital,Equip. Goods others,Const.,Ext. Balance,Foreign balance,Total exports goods and services,Exports goods and services,Foreign consump. Territory,Total imports goods and services,Imports goods and services,National residents consump. Abroad
16,2000,127839,117567,69916,15832,31820,14372,16329,10271,-5874,43650,37382,6268,49523,48228,1295
15,2001,137165,126110,74692,17131,34287,14924,18356,11055,-3595,47344,40743,6601,50940,49446,1494
14,2002,145813,135065,79584,18575,36906,15388,20361,10748,-2923,48685,41665,7020,51608,50189,1419
13,2003,156600,145578,84675,20262,40640,16702,22773,11022,-4473,48795,41735,7060,53268,51702,1566
12,2004,169776,158942,91997,22367,44578,18015,25326,10835,-7911,50971,43430,7541,58883,57050,1833
7,2009,208115,195915,111997,35451,48468,22284,25123,12200,1088,55052,46979,8073,53964,51910,2054
11,2005,183507,173189,99316,24441,49433,20041,28678,10318,-9486,55214,47192,8023,64700,62449,2251
10,2006,199169,190410,107097,26821,56492,22621,32668,8759,-9936,60811,52405,8407,70747,68286,2461
6,2010,209792,194712,113859,35569,45284,23060,21820,15080,1193,62441,53938,8503,61248,59063,2185
9,2007,212391,205664,114653,29674,61338,25658,34499,6726,-10972,64427,55734,8693,75399,72723,2676
8,2008,216922,209685,117445,32709,59531,25736,32901,7237,-6303,65416,56704,8712,71719,69169,2550
5,2011,209716,191118,115228,34854,41036,22148,18659,18598,5046,69556,60526,9030,64510,62467,2043
4,2012,203856,183829,114317,32760,36752,21564,14834,20027,10207,73578,63932,9645,63371,61127,2244
3,2013,203198,177662,111596,32077,33989,20939,13129,25536,12940,75112,64757,10355,62172,59867,2305
2,2014,208018,181616,114235,32069,35311,22150,12848,26402,11035,77583,66933,10650,66549,64160,2388
1,2015,215641,189911,118176,34032,37703,23721,13508,25730,12650,81910,71181,10729,69261,66720,2540
0,2016,223629,196616,121449,34998,40169,24940,14443,27012,12901,84668,73532,11136,71767,68813,2954

In [ ]:
print(df.describe(include=['object']))      # limit to one (or more) types

Statistics per group (groupby)

In [30]:
data.groupby('GDP').mean()

,Year,Domestic demand,Consumer expenditure household,Consumer public adm,Gross capital,Equip. Goods others,Const.,Ext. Balance,Foreign balance,Total exports goods and services,Exports goods and services,Foreign consump. Territory,Total imports goods and services,Imports goods and services,National residents consump. Abroad
GDP,,,,,,,,,,,,,,,
127839,2000,117567,69916,15832,31820,14372,16329,10271,-5874,43650,37382,6268,49523,48228,1295
137165,2001,126110,74692,17131,34287,14924,18356,11055,-3595,47344,40743,6601,50940,49446,1494
145813,2002,135065,79584,18575,36906,15388,20361,10748,-2923,48685,41665,7020,51608,50189,1419
156600,2003,145578,84675,20262,40640,16702,22773,11022,-4473,48795,41735,7060,53268,51702,1566
169776,2004,158942,91997,22367,44578,18015,25326,10835,-7911,50971,43430,7541,58883,57050,1833
183507,2005,173189,99316,24441,49433,20041,28678,10318,-9486,55214,47192,8023,64700,62449,2251
199169,2006,190410,107097,26821,56492,22621,32668,8759,-9936,60811,52405,8407,70747,68286,2461
203198,2013,177662,111596,32077,33989,20939,13129,25536,12940,75112,64757,10355,62172,59867,2305
203856,2012,183829,114317,32760,36752,21564,14834,20027,10207,73578,63932,9645,63371,61127,2244
208018,2014,181616,114235,32069,35311,22150,12848,26402,11035,77583,66933,10650,66549,64160,2388
208115,2009,195915,111997,35451,48468,22284,25123,12200,1088,55052,46979,8073,53964,51910,2054
209716,2011,191118,115228,34854,41036,22148,18659,18598,5046,69556,60526,9030,64510,62467,2043
209792,2010,194712,113859,35569,45284,23060,21820,15080,1193,62441,53938,8503,61248,59063,2185
212391,2007,205664,114653,29674,61338,25658,34499,6726,-10972,64427,55734,8693,75399,72723,2676
215641,2015,189911,118176,34032,37703,23721,13508,25730,12650,81910,71181,10729,69261,66720,2540
216922,2008,209685,117445,32709,59531,25736,32901,7237,-6303,65416,56704,8712,71719,69169,2550
223629,2016,196616,121449,34998,40169,24940,14443,27012,12901,84668,73532,11136,71767,68813,2954

In [32]:
data.groupby('GDP')['Domestic demand'].mean()

GDP
127839    117567
137165    126110
145813    135065
156600    145578
169776    158942
183507    173189
199169    190410
203198    177662
203856    183829
208018    181616
208115    195915
209716    191118
209792    194712
212391    205664
215641    189911
216922    209685
223629    196616
Name: Domestic demand, dtype: int64

In [33]:
print(data.groupby("Foreign consump. Territory").describe(include='all'))

                            Year                                              \
                           count    mean std     min     25%     50%     75%
Foreign consump. Territory
6268                         1.0  2000.0 NaN  2000.0  2000.0  2000.0  2000.0
6601                         1.0  2001.0 NaN  2001.0  2001.0  2001.0  2001.0
7020                         1.0  2002.0 NaN  2002.0  2002.0  2002.0  2002.0
7060                         1.0  2003.0 NaN  2003.0  2003.0  2003.0  2003.0
7541                         1.0  2004.0 NaN  2004.0  2004.0  2004.0  2004.0
8023                         1.0  2005.0 NaN  2005.0  2005.0  2005.0  2005.0
8073                         1.0  2009.0 NaN  2009.0  2009.0  2009.0  2009.0
8407                         1.0  2006.0 NaN  2006.0  2006.0  2006.0  2006.0
8503                         1.0  2010.0 NaN  2010.0  2010.0  2010.0  2010.0
8693                         1.0  2007.0 NaN  2007.0  2007.0  2007.0  2007.0
8712                         1.0  2008.0 NaN  2008.0  2008.0  2008.0  2008.0
9030                         1.0  2011.0 NaN  2011.0  2011.0  2011.0  2011.0
9645                         1.0  2012.0 NaN  2012.0  2012.0  2012.0  2012.0
10355                        1.0  2013.0 NaN  2013.0  2013.0  2013.0  2013.0
10650                        1.0  2014.0 NaN  2014.0  2014.0  2014.0  2014.0
10729                        1.0  2015.0 NaN  2015.0  2015.0  2015.0  2015.0
11136                        1.0  2016.0 NaN  2016.0  2016.0  2016.0  2016.0

                                     GDP            ...  \
                               max count      mean  ...
Foreign consump. Territory                          ...
6268                        2000.0   1.0  127839.0  ...
6601                        2001.0   1.0  137165.0  ...
7020                        2002.0   1.0  145813.0  ...
7060                        2003.0   1.0  156600.0  ...
7541                        2004.0   1.0  169776.0  ...
8023                        2005.0   1.0  183507.0  ...
8073                        2009.0   1.0  208115.0  ...
8407                        2006.0   1.0  199169.0  ...
8503                        2010.0   1.0  209792.0  ...
8693                        2007.0   1.0  212391.0  ...
8712                        2008.0   1.0  216922.0  ...
9030                        2011.0   1.0  209716.0  ...
9645                        2012.0   1.0  203856.0  ...
10355                       2013.0   1.0  203198.0  ...
10650                       2014.0   1.0  208018.0  ...
10729                       2015.0   1.0  215641.0  ...
11136                       2016.0   1.0  223629.0  ...

                           Imports goods and services           \
                                                  75%      max
Foreign consump. Territory
6268                                          48228.0  48228.0
6601                                          49446.0  49446.0
7020                                          50189.0  50189.0
7060                                          51702.0  51702.0
7541                                          57050.0  57050.0
8023                                          62449.0  62449.0
8073                                          51910.0  51910.0
8407                                          68286.0  68286.0
8503                                          59063.0  59063.0
8693                                          72723.0  72723.0
8712                                          69169.0  69169.0
9030                                          62467.0  62467.0
9645                                          61127.0  61127.0
10355                                         59867.0  59867.0
10650                                         64160.0  64160.0
10729                                         66720.0  66720.0
11136                                         68813.0  68813.0

                           National residents consump. Abroad              \
                                                        count    mean std
Foreign consump. Territory
6268                                                      1.0  1295.0 NaN
6601                                                      1.0  1494.0 NaN
7020                                                      1.0  1419.0 NaN
7060                                                      1.0  1566.0 NaN
7541                                                      1.0  1833.0 NaN
8023                                                      1.0  2251.0 NaN
8073                                                      1.0  2054.0 NaN
8407                                                      1.0  2461.0 NaN
8503                                                      1.0  2185.0 NaN
8693                                                      1.0  2676.0 NaN
8712                                                      1.0  2550.0 NaN
9030                                                      1.0  2043.0 NaN
9645                                                      1.0  2244.0 NaN
10355                                                     1.0  2305.0 NaN
10650                                                     1.0  2388.0 NaN
10729                                                     1.0  2540.0 NaN
11136                                                     1.0  2954.0 NaN


                               min     25%     50%     75%     max
Foreign consump. Territory
6268                        1295.0  1295.0  1295.0  1295.0  1295.0
6601                        1494.0  1494.0  1494.0  1494.0  1494.0
7020                        1419.0  1419.0  1419.0  1419.0  1419.0
7060                        1566.0  1566.0  1566.0  1566.0  1566.0
7541                        1833.0  1833.0  1833.0  1833.0  1833.0
8023                        2251.0  2251.0  2251.0  2251.0  2251.0
8073                        2054.0  2054.0  2054.0  2054.0  2054.0
8407                        2461.0  2461.0  2461.0  2461.0  2461.0
8503                        2185.0  2185.0  2185.0  2185.0  2185.0
8693                        2676.0  2676.0  2676.0  2676.0  2676.0
8712                        2550.0  2550.0  2550.0  2550.0  2550.0
9030                        2043.0  2043.0  2043.0  2043.0  2043.0
9645                        2244.0  2244.0  2244.0  2244.0  2244.0
10355                       2305.0  2305.0  2305.0  2305.0  2305.0
10650                       2388.0  2388.0  2388.0  2388.0  2388.0
10729                       2540.0  2540.0  2540.0  2540.0  2540.0
11136                       2954.0  2954.0  2954.0  2954.0  2954.0

[17 rows x 120 columns]

In [38]:
# Using for loop

for grp, val in data.groupby('GDP'):
    print(grp), print(val)

127839
    Year     GDP  Domestic demand  Consumer expenditure household  \
16  2000  127839           117567                           69916

    Consumer public adm  Gross capital  Equip. Goods others  Const.  \
16                15832          31820                14372   16329

    Ext. Balance   Foreign balance   Total exports goods and services  \
16          10271             -5874                             43650

    Exports goods and services  Foreign consump. Territory  \
16                       37382                        6268

    Total imports goods and services  Imports goods and services  \
16                             49523                       48228

    National residents consump. Abroad
16                                1295
137165
    Year     GDP  Domestic demand  Consumer expenditure household  \
15  2001  137165           126110                           74692

    Consumer public adm  Gross capital  Equip. Goods others  Const.  \
15                17131          34287                14924   18356

    Ext. Balance   Foreign balance   Total exports goods and services  \
15          11055             -3595                             47344

    Exports goods and services  Foreign consump. Territory  \
15                       40743                        6601

    Total imports goods and services  Imports goods and services  \
15                             50940                       49446

    National residents consump. Abroad
15                                1494
145813
    Year     GDP  Domestic demand  Consumer expenditure household  \
14  2002  145813           135065                           79584

    Consumer public adm  Gross capital  Equip. Goods others  Const.  \
14                18575          36906                15388   20361

    Ext. Balance   Foreign balance   Total exports goods and services  \
14          10748             -2923                             48685

    Exports goods and services  Foreign consump. Territory  \
14                       41665                        7020

    Total imports goods and services  Imports goods and services  \
14                             51608                       50189

    National residents consump. Abroad
14                                1419
156600
    Year     GDP  Domestic demand  Consumer expenditure household  \
13  2003  156600           145578                           84675

    Consumer public adm  Gross capital  Equip. Goods others  Const.  \
13                20262          40640                16702   22773

    Ext. Balance   Foreign balance   Total exports goods and services  \
13          11022             -4473                             48795

    Exports goods and services  Foreign consump. Territory  \
13                       41735                        7060

    Total imports goods and services  Imports goods and services  \
13                             53268                       51702

    National residents consump. Abroad
13                                1566
169776
    Year     GDP  Domestic demand  Consumer expenditure household  \
12  2004  169776           158942                           91997

    Consumer public adm  Gross capital  Equip. Goods others  Const.  \
12                22367          44578                18015   25326

    Ext. Balance   Foreign balance   Total exports goods and services  \
12          10835             -7911                             50971

    Exports goods and services  Foreign consump. Territory  \
12                       43430                        7541

    Total imports goods and services  Imports goods and services  \
12                             58883                       57050

    National residents consump. Abroad
12                                1833
183507
    Year     GDP  Domestic demand  Consumer expenditure household  \
11  2005  183507           173189                           99316

    Consumer public adm  Gross capital  Equip. Goods others  Const.  \
11                24441          49433                20041   28678

    Ext. Balance   Foreign balance   Total exports goods and services  \
11          10318             -9486                             55214

    Exports goods and services  Foreign consump. Territory  \
11                       47192                        8023

    Total imports goods and services  Imports goods and services  \
11                             64700                       62449

    National residents consump. Abroad
11                                2251
199169
    Year     GDP  Domestic demand  Consumer expenditure household  \
10  2006  199169           190410                          107097

    Consumer public adm  Gross capital  Equip. Goods others  Const.  \
10                26821          56492                22621   32668

    Ext. Balance   Foreign balance   Total exports goods and services  \
10           8759             -9936                             60811

    Exports goods and services  Foreign consump. Territory  \
10                       52405                        8407

    Total imports goods and services  Imports goods and services  \
10                             70747                       68286

    National residents consump. Abroad
10                                2461
203198
   Year     GDP  Domestic demand  Consumer expenditure household  \
3  2013  203198           177662                          111596

   Consumer public adm  Gross capital  Equip. Goods others  Const.  \
3                32077          33989                20939   13129

   Ext. Balance   Foreign balance   Total exports goods and services  \
3          25536             12940                             75112

   Exports goods and services  Foreign consump. Territory  \
3                       64757                       10355

   Total imports goods and services  Imports goods and services  \
3                             62172                       59867

   National residents consump. Abroad
3                                2305
203856
   Year     GDP  Domestic demand  Consumer expenditure household  \
4  2012  203856           183829                          114317

   Consumer public adm  Gross capital  Equip. Goods others  Const.  \
4                32760          36752                21564   14834

   Ext. Balance   Foreign balance   Total exports goods and services  \
4          20027             10207                             73578

   Exports goods and services  Foreign consump. Territory  \
4                       63932                        9645

   Total imports goods and services  Imports goods and services  \
4                             63371                       61127

   National residents consump. Abroad
4                                2244
208018
   Year     GDP  Domestic demand  Consumer expenditure household  \
2  2014  208018           181616                          114235

   Consumer public adm  Gross capital  Equip. Goods others  Const.  \
2                32069          35311                22150   12848

   Ext. Balance   Foreign balance   Total exports goods and services  \
2          26402             11035                             77583

   Exports goods and services  Foreign consump. Territory  \
2                       66933                       10650

   Total imports goods and services  Imports goods and services  \
2                             66549                       64160

   National residents consump. Abroad
2                                2388
208115
   Year     GDP  Domestic demand  Consumer expenditure household  \
7  2009  208115           195915                          111997

   Consumer public adm  Gross capital  Equip. Goods others  Const.  \
7                35451          48468                22284   25123

   Ext. Balance   Foreign balance   Total exports goods and services  \
7          12200              1088                             55052

   Exports goods and services  Foreign consump. Territory  \
7                       46979                        8073

   Total imports goods and services  Imports goods and services  \
7                             53964                       51910

   National residents consump. Abroad
7                                2054
209716
   Year     GDP  Domestic demand  Consumer expenditure household  \
5  2011  209716           191118                          115228

   Consumer public adm  Gross capital  Equip. Goods others  Const.  \
5                34854          41036                22148   18659

   Ext. Balance   Foreign balance   Total exports goods and services  \
5          18598              5046                             69556

   Exports goods and services  Foreign consump. Territory  \
5                       60526                        9030

   Total imports goods and services  Imports goods and services  \
5                             64510                       62467

   National residents consump. Abroad
5                                2043
209792
   Year     GDP  Domestic demand  Consumer expenditure household  \
6  2010  209792           194712                          113859

   Consumer public adm  Gross capital  Equip. Goods others  Const.  \
6                35569          45284                23060   21820

   Ext. Balance   Foreign balance   Total exports goods and services  \
6          15080              1193                             62441

   Exports goods and services  Foreign consump. Territory  \
6                       53938                        8503

   Total imports goods and services  Imports goods and services  \
6                             61248                       59063

   National residents consump. Abroad
6                                2185
212391
   Year     GDP  Domestic demand  Consumer expenditure household  \
9  2007  212391           205664                          114653

   Consumer public adm  Gross capital  Equip. Goods others  Const.  \
9                29674          61338                25658   34499

   Ext. Balance   Foreign balance   Total exports goods and services  \
9           6726            -10972                             64427

   Exports goods and services  Foreign consump. Territory  \
9                       55734                        8693

   Total imports goods and services  Imports goods and services  \
9                             75399                       72723

   National residents consump. Abroad
9                                2676
215641
   Year     GDP  Domestic demand  Consumer expenditure household  \
1  2015  215641           189911                          118176

   Consumer public adm  Gross capital  Equip. Goods others  Const.  \
1                34032          37703                23721   13508

   Ext. Balance   Foreign balance   Total exports goods and services  \
1          25730             12650                             81910

   Exports goods and services  Foreign consump. Territory  \
1                       71181                       10729

   Total imports goods and services  Imports goods and services  \
1                             69261                       66720

   National residents consump. Abroad
1                                2540
216922
   Year     GDP  Domestic demand  Consumer expenditure household  \
8  2008  216922           209685                          117445

   Consumer public adm  Gross capital  Equip. Goods others  Const.  \
8                32709          59531                25736   32901

   Ext. Balance   Foreign balance   Total exports goods and services  \
8           7237             -6303                             65416

   Exports goods and services  Foreign consump. Territory  \
8                       56704                        8712

   Total imports goods and services  Imports goods and services  \
8                             71719                       69169

   National residents consump. Abroad
8                                2550
223629
   Year     GDP  Domestic demand  Consumer expenditure household  \
0  2016  223629           196616                          121449

   Consumer public adm  Gross capital  Equip. Goods others  Const.  \
0                34998          40169                24940   14443

   Ext. Balance   Foreign balance   Total exports goods and services  \
0          27012             12901                             84668

   Exports goods and services  Foreign consump. Territory  \
0                       73532                       11136

   Total imports goods and services  Imports goods and services  \
0                             71767                       68813

   National residents consump. Abroad
0                                2954

Quality check
Remove duplicate data

In [40]:
df = pd.read_csv("E:/Data Science/CSV dataset/Small Datasets/ac.csv")
df

     Food.Pinching.Efficiency  Individual  Chopstick.Length
0                       19.55           1               180
1                       27.24           2               180
2                       28.76           3               180
3                       31.19           4               180
4                       21.91           5               180
..                        ...         ...               ...
181                     27.22          27               330
182                     17.41          28               330
183                     16.42          29               330
184                     28.22          30               330
185                     27.52          31               330

[186 rows x 3 columns]

In [41]:
df.append(df.iloc[0], ignore_index = True)

     Food.Pinching.Efficiency  Individual  Chopstick.Length
0                       19.55         1.0             180.0
1                       27.24         2.0             180.0
2                       28.76         3.0             180.0
3                       31.19         4.0             180.0
4                       21.91         5.0             180.0
..                        ...         ...               ...
182                     17.41        28.0             330.0
183                     16.42        29.0             330.0
184                     28.22        30.0             330.0
185                     27.52        31.0             330.0
186                     19.55         1.0             180.0

[187 rows x 3 columns]

In [42]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
181    False
182    False
183    False
184    False
185    False
Length: 186, dtype: bool

In [45]:
df['Individual'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
181     True
182     True
183     True
184     True
185     True
Name: Individual, Length: 186, dtype: bool

In [46]:
# Missing Values

df.isnull().sum()     # Prints the no of all NAN values in the dataset

Food.Pinching.Efficiency    0
Individual                  0
Chopstick.Length            0
dtype: int64

In [50]:
## Filling missing values

dataframe = pd.read_csv("E:/Data Science/CSV dataset/Titanic.csv")
dataframe

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1
...,...,...,...,...,...
1308,"Zakarian, Mr Artun",3rd,27.00,male,0
1309,"Zakarian, Mr Maprieder",3rd,26.00,male,0
1310,"Zenni, Mr Philip",3rd,22.00,male,0
1311,"Lievens, Mr Rene",3rd,24.00,male,0
1312,"Zimmerman, Leo",3rd,29.00,male,0

In [51]:
dataframe.isnull().sum()     ## SHows total NaN values in the dataset

Name          0
PClass        1
Age         557
Sex           0
Survived      0
dtype: int64

In [53]:
## Filling the missing values with mean values of that column

dataframe.loc[dataframe.Age.isnull(), 'Age'] = dataframe['Age'].mean()    
dataframe.isnull().sum()

Name        0
PClass      1
Age         0
Sex         0
Survived    0
dtype: int64